<div class="align">
  <h2>User Settings</h2>

  <form #form="ngForm" class="column" (ngSubmit)="onSubmit(form)">
    <div class="m-1">
      <label for="user-name" class="m-1">Name</label>
      <input id="ueser-name" placeholder="Name" name="name" [(ngModel)]="userSettings.name"
        required #nameField="ngModel"
        [class.field-error]="form.submitted && nameField.invalid"
      />
    </div>
    <div class="m-1">
      <label for="offer-check">
        Email Special Offer
      <input id="offer-check" type="checkbox" name="checkbox" [(ngModel)]="userSettings.emailOffers" />
      </label>
    </div>

    <h4>User Interface Style</h4>
    <div class="m-1">
      <label class="m-r" for="light">
        Light
        <input
          id="light" value="light"
          type="radio" name="radio" [(ngModel)]="userSettings.style" />
      </label>

      <label class="m-r" for="medium">
        Medium
        <input
          id="medium" value="medium"
          type="radio" name="radio" [(ngModel)]="userSettings.style" />
      </label>

      <label class="m-r" for="dark">
        Dark
        <input
          id="dark" value="dark"
          type="radio" name="radio" [(ngModel)]="userSettings.style" />
      </label>
    </div>

    <div class="m-1">
      <label class="m-1" for="subscription">Subscription Type</label>
      <select id="subscription" name="subscription" [(ngModel)]="userSettings.subscription">
        <option>Weekly</option>
        <option>Monthly</option>
        <option>Yearly</option>
      </select>
    </div>

    <button class="m-1">Send</button>
  </form>
</div>
