<div class="align">
  <h2>User Settings</h2>

  <form class="column">
    <div class="m-1">
      <label for="name" class="m-1">Name</label>
      <input id="name" placeholder="Name" />
    </div>
    <div class="m-1">
      <label for="check">
        Email Special Offer
      <input id="check" type="checkbox" />
      </label>
    </div>

    <h4>User Interface Style</h4>
    <div class="m-1">
      <label for="light">
        <input id="light" type="radio" name="radio"/>
        Light
      </label>
      <label for="medium">
        <input id="medium" type="radio" name="radio" />
        Medium
      </label>
      <label for="dark">
        <input id="dark" type="radio" name="radio" />
        Dark
      </label>
    </div>

    <div class="m-1">
      <label class="m-1" for="subscription">Subscription Type</label>
      <select id="subscription">
        <option>Weekly</option>
        <option>Monthly</option>
        <option>Yearly</option>
      </select>
    </div>

    <button class="m-1">Send</button>
  </form>
</div>
